@import '@fontsource/bebas-neue';


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-bebas: "Bebas Neue", sans-serif;
}

.bebas-neue-regular {
  font-family: var(--font-bebas);
  font-weight: 400;
  font-style: normal;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #212121; */
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.items-center
{
  align-items: normal !important;
}

